# 1. Renombrar el archivo a .env
# 2. Poner el API Key

VITE_FIREBASE_API_KEY=
VITE_FIREBASE_AUTH_DOMAIN=cevichedelreydb.firebaseapp.com
VITE_FIREBASE_PROJECT_ID=cevichedelreydb
VITE_FIREBASE_STORAGE_BUCKET=cevichedelreydb.firebasestorage.app
VITE_FIREBASE_MESSAGING_SENDER_ID=598439667547
VITE_FIREBASE_APP_ID=1:598439667547:web:abc73c6adb522a202d5c7e
VITE_FIREBASE_MEASUREMENT_ID=G-BYMGZKC9QW
